<div class="container mx-auto lg:w-3/5 tracking-[-0.14px] my-16">
  <div class="mt-16">
    <app-card-portfolio></app-card-portfolio>
  </div>
  <div class="mt-8">
    <app-card-assets></app-card-assets>
  </div>
  <div class="w-full block md:flex">
    <div class="lg:pr-5 w-full lg:w-3/5">
      <div class="mt-8">
        <app-card-subscriptions></app-card-subscriptions>
      </div>
      <div class="mt-8">
        <app-card-payment></app-card-payment>
      </div>
    </div>
    <div class="lg:pl-5 w-full lg:w-2/5">
      <div class="mt-8">
        <app-card-store></app-card-store>
      </div>
      <div class="mt-8">
        <app-card-activity></app-card-activity>
      </div>
    </div>
  </div>
</div>