<p-card header="dAPP STORE" styleClass="border-none shadow-none">
  <div class="grid grid-cols-2">
    <div class="my-3">
      <div class="flex mb-4 items-center">
        <p-avatar image="../../assets/img/logo-1inch.jpeg" styleClass="p-avatar-shadow mr-2 !flex" size="large" shape="circle"></p-avatar>
        <div class="flex flex-col justify-around items-start ">
          <span class="font-bold mb-2 vertical-align-middle">1Inch Network</span>
          <span class="text-[14px]/[14px] text-secondary vertical-align-middle">(1INCH)</span>
        </div>
      </div>
      <p class="pe-3 text-[13px]/[13px]">Token Swap Aggregator.</p>
    </div>

    <div class="my-3">
      <div class="flex mb-4 items-center">
        <p-avatar image="../../assets/img/logo-tether.jpeg" styleClass="p-avatar-shadow mr-2 !flex" size="large" shape="circle"></p-avatar>
        <div class="flex flex-col justify-around items-start ">
          <span class="font-bold mb-2 vertical-align-middle">Tether</span>
          <span class="text-[14px]/[14px] text-secondary vertical-align-middle">(USDT)</span>
        </div>
      </div>
      <p class="pe-3 text-[13px]/[13px]">Bringing real world currency to the blockchain.</p>
    </div>

    <div class="my-3">
      <div class="flex mb-4 items-center">
        <p-avatar image="../../assets/img/logo-sushi.jpeg" styleClass="p-avatar-shadow mr-2 !flex" size="large" shape="circle"></p-avatar>
        <div class="flex flex-col justify-around items-start ">
          <span class="font-bold mb-2 vertical-align-middle">SushiSwap</span>
          <span class="text-[14px]/[14px] text-secondary vertical-align-middle">(SUSHI)</span>
        </div>
      </div>
      <p class="pe-3 text-[13px]/[13px]">A community-led suite of DeFi tools.</p>
    </div>
    
    <div class="my-3">
      <div class="flex mb-4 items-center">
        <p-avatar image="../../assets/img/logo-kyberswap.jpeg" styleClass="p-avatar-shadow mr-2 !flex" size="large" shape="circle"></p-avatar>
        <div class="flex flex-col justify-around items-start ">
          <span class="font-bold mb-2 vertical-align-middle">KyberSwap</span>
          <span class="text-[14px]/[14px] text-secondary vertical-align-middle">(KNC)</span>
        </div>
      </div>
      <p class="pe-3 text-[13px]/[13px]">Multi-chain DeFi liquidity hub.</p>
    </div>
    
    <div class="my-3">
      <div class="flex mb-4 items-center">
        <p-avatar image="../../assets/img/logo-circle.jpeg" styleClass="p-avatar-shadow mr-2 !flex" size="large" shape="circle"></p-avatar>
        <div class="flex flex-col justify-around items-start ">
          <span class="font-bold mb-2 vertical-align-middle">Circle</span>
          <span class="text-[14px]/[14px] text-secondary vertical-align-middle">(USDC)</span>
        </div>
      </div>
      <p class="pe-3 text-[13px]/[13px]">USDC Stablecoin, Payments & Treasury Infrastructure.</p>
    </div>
    
    <div class="my-3">
      <div class="flex mb-4 items-center">
        <p-avatar image="../../assets/img/logo-curve.jpeg" styleClass="p-avatar-shadow mr-2 !flex" size="large" shape="circle"></p-avatar>
        <div class="flex flex-col justify-around items-start ">
          <span class="font-bold mb-2 vertical-align-middle">CurveFinance</span>
          <span class="text-[14px]/[14px] text-secondary vertical-align-middle">(CRV)</span>
        </div>
      </div>
      <p class="pe-3 text-[13px]/[13px]">Creating deep on-chain liquidity using advanced bonding curves.</p>
    </div>
  </div>
  <div class="mt-6 mb-4 flex items-center justify-center">
    <button pButton pRipple type="button" class="p-button-rounded justify-center flex p-button-raised w-full">EXPLORE ALL DAPPS</button>
  </div>
</p-card>