<p-card styleClass="bg-transparent border-none shadow-none">
  <p class="mb-8 text-dark">At Arthera there’s room for everyone!
    <br>
    Whether you’re running a business, an experience trader or new to the blockchain space.
  </p>
  <h2 class="text-[24px]/[24px] font-bold mb-4">Pay as you go</h2>
  <p class="mb-6 text-dark">Any dApp developer on Arthera receives 10% rebate reward from their users pay-as-you-go transactions</p>
  <p-button label="start trading" styleClass="text-[18px]/[18px] p-button-rounded uppercase p-button-raised mr-4 "></p-button>
</p-card>