<p-toolbar styleClass="bg-white py-2 border-none rounded-none ">
  <div class="p-toolbar-group-start">
    <p-button styleClass="p-button-text">
      <img alt="logo" src="../../assets/img/logo-wallet.png" style="width: 3.5rem" />
    </p-button>
      <p-button label="Home" icon="pi pi-home" styleClass="uppercase !text-black mr-2 p-button- p-button-text"></p-button>
      <p-button label="Staking" icon="pi pi-home" styleClass="uppercase !text-black mr-2 p-button-secondary p-button-text"></p-button>
  </div>
  <div class="p-toolbar-group-end">
    <p-button icon="pi pi-angle-down" iconPos="right" label="₩" styleClass="p-button-text md:mr-6 text-[18px]/[18px] pr-0 p-button-sm uppercase p-button-secondary p-button-rounded"></p-button>
    <p-button icon="pi pi-angle-down" iconPos="right" label="testnet" styleClass="flex items-center justify-center flex-row p-button-outlined mr-2 md:mr-6 uppercase p-button-rounded p-button-raised"></p-button>
    <p-button label="Connect" styleClass="p-button-rounded uppercase p-button-raised mr-4 "></p-button>
  </div>
</p-toolbar>