<p-card styleClass="border-none py-2 shadow-none">
  <div class="flex items-center flex-wrap">
    <div class="flex-wrap flex items-center justify-start flex-row">
      <div>
        <p-skeleton shape="circle" size="4rem" styleClass="mr-2"></p-skeleton>
        <!-- <p-avatar image="../../../assets/img/avatar-1.jpeg" styleClass="mr-2 !flex" size="xlarge" shape="circle"></p-avatar> -->
      </div>
      <!-- <p-avatar label="S" styleClass="mr-2" size="xlarge" shape="circle"></p-avatar> -->
      <div class="ml-2">
        <h5 class="m-0 mb-2 text-black capitalize">
            Total portfolio value
        </h5>
        <h6 class="m-0 text-black font-bold text-[18px]/[18px]">
            $209.200.000,45
        </h6>
      </div>
      <p-divider styleClass="text-black/20 md:!flex !hidden" layout="vertical"></p-divider>
      <div class="md:ml-2 mt-4 md:mt-0">
        <p class="m-0 mb-2 text-black">
            stefansky
        </p>
        <div class="flex flex-row justify-start items-center">
          <p class="font-bold text-[18px]/[18px] text-black m-0">
            0xD0...16aa
          </p>
          <p-button rippleDisabled styleClass="uppercase py-0 !text-black px-1 p-button-link">
            <img class="ml-4 h-4" src="../../assets/img/logo-copy.png" alt="files icon">
          </p-button>
          <p-button rippleDisabled styleClass="uppercase py-0 !text-black px-1 p-button-link">
            <img class="ml-2 h-4" src="../../assets/img/logo-scan.png" alt="scan icon">
          </p-button>
        </div>
      </div>
    </div>
    <div class="mt-5 md:mt-0 md:ml-auto w-full md:w-1/2 flex md:items-center md:justify-end justify-start flex-row">
      <p-button label="receive" styleClass="mr-4 uppercase p-button-rounded p-button-raised p-button-outlined"></p-button>
      <p-button label="send" styleClass="p-button-rounded uppercase p-button-raised mr-4 "></p-button>
    </div>
  </div>
</p-card>