<p-card header="RECENT ACTIVITY" styleClass="border-none shadow-none">
  <div class="mb-4 mt-8 block md:flex flex-row justify-between items-baseline">
    <p class="mb-2 md:mb-0">ERC721 Sent 35 AA 0 minute ago</p>
    <a class="text-primary underline" href="#details" target="_blank">View details</a>
  </div>
  <div class="mb-4 block md:flex flex-row justify-between items-baseline">
    <p class="mb-2 md:mb-0">ERC721 Sent 900000 NAAC 2 days ago</p>
    <a class="text-primary underline" href="#details" target="_blank">View details</a>
  </div>
  <div class="mb-4 block md:flex flex-row justify-between items-baseline">
    <p class="mb-2 md:mb-0">ERC721 Sent 367000.50 AA 56 days ago</p>
    <a class="text-primary underline" href="#details" target="_blank">View details</a>
  </div>

  <button pButton pRipple type="button" class="mt-16 p-button-rounded justify-center uppercase flex p-button-raised w-full">view all</button>
</p-card>