
<p-card styleClass="border-none shadow-none">
  <div>
    <p-tabView styleClass="tabview-custom -mx-4 tabview-dual">
      <p-tabPanel>
          <ng-template styleClass="justify-center" pTemplate="header">
            <span class="uppercase">Subscriptions</span>
          </ng-template>
          <div class="text-black mt-4">
            <h1 class="text-[24px]/[24px] font-bold mb-2">Trader</h1>
            <p class="text-dark">only transfers (universal subscription)</p>
            <div class="flex flex-row mt-6 justify-start items-center">
              <p-button label="subscribe" styleClass="p-button-rounded uppercase p-button-raised mr-4 "></p-button>
              <p class="text-dark"><span class="font-bold text-black">$9.99/month</span> - 3,2627 AA</p>
            </div>
          </div>
          <p-divider styleClass="!my-6"></p-divider>
          <div class="text-black">
            <h1 class="text-[24px]/[24px] font-bold mb-2">dApp</h1>
            <p class="text-dark">dApp resell them accordingly to their subscription model.<br>
              User access dapp subscriptions on the Arthera Market (only subscription priojects)</p>
            <div class="flex flex-row mt-6 justify-start items-center">
              <p-button label="subscribe" styleClass="p-button-rounded uppercase p-button-raised mr-4 "></p-button>
              <p class="text-dark"><span class="font-bold text-black">$39.99/month</span> - 14,32 AA</p>
            </div>
          </div>
          <p-divider styleClass="!my-6"></p-divider>
          <div class="text-black">
            <h1 class="text-[24px]/[24px] font-bold mb-2">Reseller</h1>
            <p class="text-dark">sells a bundle for more subscriptions to specific apps</p>
            <div class="flex flex-row mt-6 justify-start items-center">
              <p-button label="subscribe" styleClass="p-button-rounded uppercase p-button-raised mr-4 "></p-button>
              <p class="text-dark"><span class="font-bold text-black">$39.99/month</span> - 14,32 AA</p>
            </div>
          </div>
      </p-tabPanel>
      <p-tabPanel>
          <ng-template pTemplate="header">
            <span class="uppercase">active subscriptions (2)</span>
          </ng-template>
          <div class="text-black mt-4">
            <h1 class="text-[24px]/[24px] font-bold mb-2">dApp</h1>
            <p class="text-dark">dApp resell them accordingly to their subscription model.<br>
              User access dapp subscriptions on the Arthera Market (only subscription priojects)</p>
            <div class="flex flex-row mt-6 justify-start items-center">
              <p-button label="unsubscribe" styleClass="p-button-rounded uppercase p-button-raised mr-4 "></p-button>
              <p class="text-dark"><span class="font-bold text-black">$39.99/month</span> - 14,32 AA</p>
            </div>
          </div>
          <p-divider styleClass="!my-6"></p-divider>
          <div class="text-black">
            <h1 class="text-[24px]/[24px] font-bold mb-2">Reseller</h1>
            <p class="text-dark">sells a bundle for more subscriptions to specific apps</p>
            <div class="flex flex-row mt-6 justify-start items-center">
              <p-button label="unsubscribe" styleClass="p-button-rounded uppercase p-button-raised mr-4 "></p-button>
              <p class="text-dark"><span class="font-bold text-black">$39.99/month</span> - 14,32 AA</p>
            </div>
          </div>
          <p-divider styleClass="!my-6"></p-divider>
          <div class="text-black">
            <h1 class="text-[24px]/[24px] font-bold mb-2">Trader</h1>
            <p class="text-dark">only transfers (universal subscription)</p>
            <div class="flex flex-row mt-6 justify-start items-center">
              <p-button label="unsubscribe" styleClass="p-button-rounded uppercase p-button-raised mr-4 "></p-button>
              <p class="text-dark"><span class="font-bold text-black">$9.99/month</span> - 3,2627 AA</p>
            </div>
          </div>
      </p-tabPanel>
    </p-tabView>
  </div>
</p-card>