/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./assets/theme/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

@layer base {
  button,
  [type='button'],
  [type='reset'],
  [type='submit'] {
    background-color: var(--primary-color);
  }
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('./assets/fonts/ProximaNova-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('./assets/fonts/Proxima\ Nova\ Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
body {
  font-family: 'Proxima Nova', sans-serif;
}